<ion-view view-title="{{ 'mm.login.login' | translate }}">
    <ion-content mm-state-class padding="true" class="mm-center-view">
        <mm-loading hide-until="pageLoaded" class="mm-view-content">
            <div class="box">
             <!--   <div style="height:100%;display:flex;align-items:center;justify-content:center;">
                    <!-- Show site logo or a default image. -->
                   <!-- <div class="" style="width:50%;float:left;  display: block;">
                        <img ng-if="logourl" ng-src="{{logourl}}" class="avatar-full" mm-external-content role="presentation">
                        <img ng-if="!logourl" ng-src="img/logo.png" class="avatar-full moodle-logo" role="presentation">

                    </div>
                    <div class="" style="width:50%;float:left;text-align:center;">
                        <p><b style="color:#0064d2">{{ 'mm.user.loginhelpline' | translate }}</b></br><i class="icon ion-social-whatsapp"></i> {{ 'mm.user.loginhelplinenumber' | translate }}</p>

                    </div>

                    <!-- If no sitename show big siteurl. -->
                    <!--<p ng-if="!sitename" class="item-heading padding mm-siteurl">{{siteurl}}</p>
                    <!-- If sitename, show big sitename and small siteurl. -->
                    <!--<p ng-if="sitename" class="item-heading padding mm-sitename">{{sitename}}</p>
                    <p ng-if="sitename" class="mm-siteurl">{{siteurl}}</p>-->

                <div>
                    <img ng-if="logourl" ng-src="{{logourl}}" class="avatar-full" mm-external-content role="presentation">
                    <img ng-if="!logourl" ng-src="img/logo.png" class="avatar-full moodle-logo" role="presentation">
                </div>
                <div class="" style="text-align:center;padding-top:5px;">
                    <p style="font-size:20px;"><b style="color:#0064d2">{{ 'mm.user.loginhelpline' | translate }}</b> : <i class="icon ion-social-whatsapp"></i> <a href="tel:{{ 'mm.user.loginhelplinenumber' | translate }}" style="text-decoration:none;"> {{ 'mm.user.loginhelplinenumber' | translate }}</a></p>

                </div>

                <div style="padding-top:1px;">
                    <button class="button button-block" ng-click="usefulinstruction()"><b style="font-size:20px;">{{ 'mm.user.loginbuttonname' | translate }}</b></button>
                </div>

                <div style="padding-top:5px;">
                <div ng-if="canSignup" style="clear:both; border-radius: 5px;border: 1px solid #0064d2;padding: 10px; ">
                    <div class="item item-text-wrap item-borderless" style="text-align:center;">
                        <p class="item-heading">{{ 'mm.login.firsttime' | translate }}</p>
                        <p class="item-heading">{{ 'mm.login.firsttimesub' | translate }}</p>
                      <!--  <p ng-if="authInstructions"><mm-format-text>{{authInstructions}}</mm-format-text></p> -->
                    </div>
                    <button class="button button-block" ui-sref="mm_login.email_signup({siteurl: siteurl})"><b style="font-size:20px;">{{ 'mm.login.startsignup' | translate }}</b></button>
                </div>
                </div>
                <div style="padding-top:15px;">
                <div style="border-radius: 5px;border: 1px solid #0064d2;padding: 10px;padding-top:20px;text-align:center; ">
                <p class="item-heading">{{ 'mm.user.customlogintext' | translate }}</p>
                <form>
                    <ion-input class="list item item-input" ng-if="siteChecked && !isBrowserSSO">
                        <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="none" autocorrect="off">
                    </ion-input>
                    <ion-input class="list item item-input mm-ioninput-password" ng-if="siteChecked && !isBrowserSSO">
                        <input id="mm-login-credentials-password-input" name="password" type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" mm-show-password>
                    </ion-input>
                    <button class="button button-block button-positive" ng-click="login()"><b style="font-size:20px;">{{ 'mm.login.loginbutton' | translate }}</b></button>
                </form>
                </div></div>
                <!-- Forgotten password button. -->
                <div class="padding-top">
                    <button class="button button-block" ng-click="forgottenPassword()">{{ 'mm.login.forgotten' | translate }}</button>
                </div>

                <div ng-if="identityProviders && identityProviders.length" class="padding-top list">
                    <p>{{ 'mm.login.potentialidps' | translate }}</p>
                    <a ng-repeat="provider in identityProviders" class="item item-icon-right item-text-wrap mm-oauth-icon" ng-click="oauthClicked(provider)" title="{{provider.name}}">
                        <img ng-src="{{provider.iconurl}}" alt="{{provider.name}}">
                        <span>{{provider.name}}</span>
                        <i class="icon icon-accessory ion-chevron-right"></i>
                    </a>
                </div>


            </div>
        </mm-loading>
    </ion-content>
</ion-view>
